@charset "UTF_8";

body{
    background-color: rgb(192, 224, 252);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(52, 154, 243);
}

h1#principal {
    text-align: center;
    background-color: rgb(52, 154, 243);
    color: white;
}

h2{
    color: rgb(10, 41, 68);
}

.basico{
    background-color: rgb(134, 243, 152);
    text-align: center;
}

.intermediario{
    background-color: rgb(218, 230, 141);
    text-align: center;
}

.avancado{
    background-color: rgb(202, 104, 104);
    text-align: center;
}
